                                                                                                                                    }
.display-none {
    display: none;
}
/* Sets up the Base 10 stuff */
body {
    padding: 0;
    font-family: "Microsoft YaHei" ! important;
    margin: 0 auto;
    background-color: #FFF;
    color: #222222;
}
p,
a,
nav,
ul,
li,
span,
button,
div,
body,
header,
section,
footer,
article,
strong {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
p {
    line-height: 22px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', Arial, sans-serif;
}
/* ==========================================================================
Browse Happy prompt
========================================================================== */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*
========================================================================
# 2 - Header styles
------------------------------------------------------------------------
*/

header {
    display: none;
    padding: 20px 0 0 0;
    background-color: #fff;
    -webkit-box-shadow:0 0 9px -5px #000;
    -moz-box-shadow:0 0 9px -5px #000;
    box-shadow:0 0 9px -5px #000;
}
header  {
    background-color: #fff;
    border-color: transparent;
}
header  .navbar-toggle {
    border-color: #00a7dd;
    border: 0;
    border-radius: 2px;
    margin: 0;
}
header  .navbar-toggle .icon-bar {
    width: 30px;
    height: 3px;
}
header  .navbar-toggle:hover,
header  .navbar-toggle:focus {
    background: transparent;
}
header  .navbar-toggle .icon-bar {
    background: #00a7dd;
}
header .navbar {
    border-radius: 0;
    margin-bottom: 0;
}
header ul > li  {
    margin-bottom: 0px;
}
header  .navbar-nav > .current > a { color:#666666 }
header  .navbar-nav > .current > a:hover,
header  .navbar-nav > .current > a:focus {
    background-color: #FFF;
    color: #008ee4;
}
@media screen and (min-width: 1200px)
header .nav > li > a {
    font-size: 19px;
}
/*
========================================================================
# - 2.1 - Menu styles
------------------------------------------------------------------------
*/
header h1 {
    margin: 0;

}
header .nav > li > a {
    font-family: 'Dosis', sans-serif;
    text-transform: capitalize;
    padding: 12px 43px;
    border-radius: 2px;
}

header  .navbar-nav > li > a {
    color: #666;
}

header  .navbar-nav > .active > a,
header  .navbar-nav > .active > a:hover,
header  .navbar-nav > .active > a:focus {
    background-color: #fff;
    color: #008ee4;
}
header  .navbar-nav > li > a:hover,
header  .navbar-nav > li > a:focus {
    background-color: #fff;
    color: #008ee4;
    border:none;
}
/*
========================================================================
# - 2.2 - down Menu styles
------------------------------------------------------------------------
*/
.navbar .dropdown-menu {

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.navbar-nav>li> .dropdown-menu{
    margin-top: 2px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.dropdown-menu{
    min-width: 152px;
    margin-top: 2px;
    border: 0px #fff solid;
}

.dropdown-menu>li>a {
    text-align: center;
    }
.dropdown-menu>li>a:hover{background: #fff;color:#008ee4;}
/*
========================================================================
# - 2.3 -  register-login Menu styles
------------------------------------------------------------------------
*/
.register-login-div{
    float:right;
}
.register-login li{
    list-style-type:none;
    float: left;
    padding:10px 10px;
}
.register-login li a{
    border:1px #008ee4 solid;;
    padding:5px 8px;
    color:#008ee4;
    border-radius: 5px;
    text-decoration: none;
    transition: all ease-in .4s;
    -webkit-transition: all ease-in .4s;
}
.register-login li a:hover{

    color: #FFF;
    background: #008ee4;

}
/*
========================================================================
# - 3.1 - 接入第一个页面 styles
------------------------------------------------------------------------
*/
    /*@import "variable.less";*/
    .lz-headertop {
        background: #262626 url(../images/top-bg.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .lz-heading {
        margin-top: 60px;
    }
    .lz-main-heading,
    .lz-main-heading > span {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 98px;
        text-align: center;
        color: #fff;
    }
    .lz-main-heading > span.lz-brand {
        color: #3498db;
    }
    .cblz-footer-content .lz-brand {
        color: #3498db !important;
    }
    .lz-sub-heading {
        margin-top: 10px;
        font-family: 'Raleway', sans-serif;
        font-weight: lighter;
        font-size: 30px;
        text-align: center;
        color: #fff;
    }
    #subscribe {
        height: 70px;
        font-family: 'Raleway', sans-serif;
        font-weight: lighter;
        font-size: 35px;
        color: #3498db;
        padding-left: 20px;
    }
    input#subscribe::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #3498db;
    }
    input#subscribe::-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #3498db;
        opacity: 1;
    }
    input#subscribe::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #3498db;
        opacity: 1;
    }
    input#subscribe::ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #3498db;
    }
    ::-webkit-input-placeholder {
        color: #3498db;
    }
    .lz-subscribe {
        margin-top: 138px;
        text-align: center;
    }
    .lz-submit-btn {
        background-color: #3498db;
        background-image: none;
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        border-radius: none;
        height: 70px;
        font-family: 'Lobster', cursive;
        font-weight: lighter;
        font-size: 35px;
        color: #fff;
    }
    .lz-submit-btn:hover {
        background-color: #3498db;
        background-image: none;
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        border-radius: none;
    }
    #carousel-reviews .carousel-control.left,
    .carousel-control.right {
        right: 18px;
    }
.fast-insert{

}
.fast-insert a{
    display: inline-block;
    color :#fff;
    margin-top:50px;
    padding: 0px 0 50px 0;
    background: url("../images/drop-down.png") no-repeat bottom  center ;
}
.fast-insert a:hover{
    background: url("../images/drop-down-086176.png") no-repeat bottom  center ;
}
    /*
    ========================================================================
    # - 4.1 - banner1 styles
    ------------------------------------------------------------------------
    */

   .banner1-style{
        background: #249eca  url("../images/banner1-bg.png")  center no-repeat ;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
    }
.bannar1-left{
    padding: 25% 0 0 30%;
    color:#fff;
}

.bannar1-right{
    margin: 15% 0 0 0;
}
.banner2-style{
    padding :30px 0  0 0 ;
}
.banner2-top{
    margin:10% 0 0 0 ;
    text-align: center;
    background: url("../images/banner2-1bg.png") no-repeat center;
}
    .app-block {
        text-align: center;
        margin-bottom: 30px;
    }
    .app-block:hover .fa {
        color: #fff;
        box-shadow: inset 0px 0px 0px 50px #00a8e0;
        -webkit-box-shadow: inset 0px 0px 0px 50px #00a8e0;
        -moz-box-shadow: inset 0px 0px 0px 50px #00a8e0;
        border: 2px solid transparent;
    }
     .fa {
        display: inline-block;
        font-size: 32px;
        margin-bottom: 10px;
        padding: 22px;
        color: #00a8e0;
        border: 2px solid #00a8e0;
        width: 105px;
        height: 95px;
        border-radius: 50%;
        transition:  all ease-in .4s;
        -webkit-transition: all ease-in .4s;
        -moz-transition: all ease-in .4s;
    }

    .weixin:before {
        content: url("../images/weixinbg.png");
    }
.kefu:before{
    content :url("../images/kefu.png")
}
.shipin:before{
    content:url("../images/shipin.png")
}
.banner2-row{
    margin:15% 0 0 0 ;
}
.banner3-style{
    background:   url("../images/banner3-bg.png")  center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner3-fa{
    display: inline-block;
    font-size: 32px;
    margin-bottom: 10px;
    padding: 22px;
    color: #00a8e0;
    border: 2px solid #00a8e0;
    width: 105px;
    height: 95px;
    /*border-radius: 50%;*/
    transition:  all ease-in .4s;
    -webkit-transition: all ease-in .4s;
    -moz-transition: all ease-in .4s;
}
.banner3-fa-android{
    color: #a9ce38;
    border: 2px solid #a9ce38;
}
    .banner3-fa-iso{
        color: #1b80db;
        border: 2px solid #1b80db;
    }
    .banner3-fa-h5{
        color: #e43617;
        border: 2px solid #e43617;
    }
.android{
    content :url("../images/andriod.png")
}
.iso{
    content: url("../images/iso.png");
}
.h5-style{
    content: url("../images/h5.png");
}

.app-block:hover .banner3-fa-android {
    color: #fff;
    box-shadow: inset 0px 0px 0px 50px #a9ce38;
    -webkit-box-shadow: inset 0px 0px 0px 50px #a9ce38;
    -moz-box-shadow: inset 0px 0px 0px 50px #a9ce38;
    border: 2px solid transparent;
}
    .app-block:hover .banner3-fa-iso {
        color: #fff;
        box-shadow: inset 0px 0px 0px 50px #1b80db;
        -webkit-box-shadow: inset 0px 0px 0px 50px #1b80db;
        -moz-box-shadow: inset 0px 0px 0px 50px #1b80db;
        border: 2px solid transparent;
    }
    .app-block:hover .banner3-fa-h5 {
        color: #fff;
        box-shadow: inset 0px 0px 0px 50px #e43617;
        -webkit-box-shadow: inset 0px 0px 0px 50px #e43617;
        -moz-box-shadow: inset 0px 0px 0px 50px #e43617;
        border: 2px solid transparent;
    }
.color-fff{
    color:#fff;
}
    .banner3-row{
        margin:15% 0 0 0 ;
    }
.banner3-top{
    margin:10% 0 0 0 ;
    text-align: center;
    background: url("../images/banner2-1bg.png") no-repeat center;
    color:#fff;
}
.footer-left{
    padding:5% 0 10% 20%
}
    .footer-left a{
        color: #000000;
    }
    .footer-left h3{
        background: url("../images/lianxiwomen1.png") no-repeat center left ;
        padding:0 0 0 40px; ;
    }
    .footer-left h7{
        display: block;
        padding:0 0 0 70px;
    }
    .footer-right{
        padding:5% 0 0 0;

    }
    .footer-right a{
        color: #000000;
    }
.footer-right h3{
    background: url("../images/lianxiwomen.png") no-repeat center left ;
    padding:0 0 0 40px; ;
}
.footer-right h7{
    display: block;
    padding:0 0 0 70px;
}

/*
   ========================================================================
   # - login page styles
   ------------------------------------------------------------------------
   */

.section-login-logo{
    padding-top: 10%;
   text-align: center;
}
.section-login-logo img{
    width: 10%;
    height: 10%;
}

.section-login-form{

    text-align: center;
}
.section-login-form ul li{
    padding-top:30px;
    padding-right: 10%;
    list-style: none;

}
.section-login-form ul li input{
    width:25%;
    outline: none;
    border: 1px #e1e1e1 solid;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
    min-width: 100px;
}
.section-login-form ul li input:hover{
    outline:none;
    border: 1px #1b80db solid;
}
.section-login-form ul li span{
    color:#333;
    text-align: right;
    padding-right: 2%;
    font-weight: 800;
    display: inline-block;
    width: 70px;
}
.section-login-buttom{
   text-align: center;
    padding-left: 30px;
}
.section-login-buttom a{
    background: #1b80db;
    width: 30%;
    border-radius: 10px;
    display: inline-block;
    height:40px;
    line-height: 40px;
    color:#fff;
    font-weight: 800;
}
.section-login-forgot{
    padding-left:20%;
}
.yonghuming{
    padding-left: 30px;
    background: url("../images/yonghuming.png") no-repeat left center  ;
    background-position-x: 5px;
}
.mima{
    padding-left: 30px;
    background: url("../images/mima.png") no-repeat left center ;
    background-position-x: 5px;
}
.message{
    padding-left: 30px;
    background: url("../images/message.png") no-repeat left center ;
    background-position-x: 5px;
}
.mobile{
    padding-left: 30px;
    background: url("../images/mobile.png") no-repeat left center ;
    background-position-x: 5px;
}
/*
   ========================================================================
   # - register page styles
   ------------------------------------------------------------------------
   */



    .section-register-form{

        text-align: center;
    }
    .section-register-form ul li{
        padding-top:20px;
        padding-right: 10%;
        list-style: none;

    }
    .section-register-form-li>input{
        width:25%;
        outline: none;
        border: 1px #e1e1e1 solid;
        border-radius: 10px;
        height: 40px;
        line-height: 40px;
        min-width: 100px;
    }
   .register-error>input {
       width:25%;
       outline: none;
        border: 1px red solid;
       border-radius: 10px;
       height: 40px;
       line-height: 40px;
       min-width: 100px;
    }
    .register-error span{
        color:#333;
        text-align: right;
        padding-right: 2%;
        font-weight: 800;
        display: inline-block;
        width: 100px;
    }
    .section-register-form-li>input:hover{
        outline:none;
        border: 1px #1b80db solid;
    }
    .section-register-form-li span{
        color:#333;
        text-align: right;
        padding-right: 2%;
        font-weight: 800;
        display: inline-block;
        width: 100px;
    }
    .section-register-buttom{
        text-align: center;
        padding-left: 30px;
    }
    .section-register-buttom a{
        background: #1b80db;
        width: 30%;
        border-radius: 10px;
        display: inline-block;
        height:40px;
        line-height: 40px;
        color:#fff;
        font-weight: 800;
    }
    .section-register-forgot{
        padding-left:20%;
    }
.error-red{
    color:red;
}





.imdownload{
    margin-top:100px;
}
.imdownload-title{
    text-align: center;
}
.imdownload-left{
    background: #fff;
    width: 500px;
    height:  400px;
    border: 2px #f3f3f3 solid;
}
.imdownload-left-first{
    padding-top: 20px;
    height: 130px;
    padding-left: 100px;
    background: url("../images/andriod-logo.png")no-repeat center left;
    background-position-x: 10px;
    padding-bottom: 30px;
    border-bottom: 1px #e1e1e1 solid;
}
.footer-style{
    background: #ededed;
}
.imdownload-cont{
    margin-top:50px;
}
.imdownload-left-first-title-left{
    float: left;
}
.imdownload-left-first-title-right{
    float: right;
    padding-right: 30px;
}
.imdownload-left-first-title-right a{
    color:#52b529;
}
.imdownload-left-second{
    text-align: center;
    height: 200px;
    padding-top: 80px;
    padding-left: 20px;
    border-bottom: 1px #e1e1e1 solid;
}
.imdownload-left-second a{
    margin-left: 5px;
    font-weight: 700;
    padding-top: 5px;
    padding-left: 5px;
    text-align: center;
    color: #fff;
    border: 1px #52b529 solid;
    border-radius: 10px;
    display: inline-block;
    width: 150px;
    height: 40px;
    background:#52b529 ;
}
.imdownload-left-second a:hover{
    background:#fff ;
    color: #52b529;
}
.imdownload-left-third{
    text-align: center;
    padding-top: 20px;
    ;
}
.imdownload-left-third a{
    color:#52b529;
}
.imdownload-right-first{
    padding-top: 20px;
    height: 130px;
    padding-left: 100px;
    background: url("../images/kefu-logo.png")no-repeat center left;
    background-position-x: 10px;
    padding-bottom: 30px;
    border-bottom: 1px #e1e1e1 solid;
}
.imdownload-right-second{
    text-align: center;
    height: 200px;
    padding-top: 80px;
    padding-left: 20px;
    border-bottom: 1px #e1e1e1 solid;
}
.imdownload-right-second a{
    margin-left: 5px;
    font-weight: 700;
    padding-top: 5px;
    padding-left: 5px;
    text-align: center;
    color: #fff;
    border: 1px #c9c9c9 solid;
    border-radius: 10px;
    display: inline-block;
    width: 150px;
    height: 40px;
    background:#c9c9c9 ;
}

    .ininfo-banner1-style{
        background: #249eca  url("../images/iminfo-bg.png")  center no-repeat ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
.ininfo-banner1-style-right{
    margin:8% 0 0 0;
}
.ininfo-banner1-style-left h1{
    font-size: 60px;
}
.ininfo-banner1-style-left{
    text-align: center;
    padding: 30% 0 0 30%;
    color:#fff;
}
.iminfo-banner3-style{
    padding-top: 20px;
    text-align: center;

}
.iminfo-banner3-style span{
    margin-top:10px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: #666666;
    display: inline-block;
    border-left: 1px #e1e1e1 solid;
    border-right: 1px #e1e1e1 solid;

}
.iminfo-banner3-style span:hover{
    border-left: 1px #238efa solid;
    border-right: 1px #238efa solid;
}
.imiinfo-banner3-row{
    padding-left: 20%;
    padding-top:130px;
    border-bottom: 1px #e1e1e1 solid;
}
.imiinfo-banner3-row-shouji{
    background: url("../images/shouji-bg.png") no-repeat  center right;
    width: 187px;
    height: 302px;
}
.imiinfo-banner3-row-shouji-title{
    padding-top: 40px;
    color:#fff;
    padding-bottom: 23px;

}
.imiinfo-banner3-row-shouji-title-img{
    padding-bottom:50px;
    margin-bottom:30px ;
}
.imiinfo-banner3-row-font{
  ;
    text-align: left;
}
.imiinfo-banner3-row-font div{
    padding-top:19px;
    font-weight: 900;
}
.imiinfo-banner3-row-img{
    margin-top:10px;
}   
.imiinfo-banner3-row-bg1{
    content: url("../images/bg1.png") ;
}
    .imiinfo-banner3-row-bg2{
        content: url("../images/bg2.png") ;
    }
    .imiinfo-banner3-row-bg3{
        content: url("../images/bg3.png") ;
    }
    .imiinfo-banner3-row-bg4{
        content: url("../images/bg4.png") ;
    }
    .imiinfo-banner3-row-bg5{ content: url("../images/bg5.png") ;}
    .imiinfo-banner3-row-bg6{ content: url("../images/bg6.png") ;}
    .imiinfo-banner3-row-bg7{ content: url("../images/bg7.png") ;}
    .imiinfo-banner3-row-bg8{ content: url("../images/bg8.png") ;}
    .imiinfo-banner3-row-bg9{ content: url("../images/bg9.png") ;}
    .imiinfo-banner3-row-bg10{ content: url("../images/bg10.png") ;}
    .imiinfo-banner3-row-bg11{ content: url("../images/bg11.png") ;}
    .imiinfo-banner3-row-bg12{ content: url("../images/bg12.png") ;}
    .imiinfo-banner3-row-bg13{ content: url("../images/bg13.png") ;}
    .imiinfo-banner3-row-bg14{ content: url("../images/bg14.png") ;}
    .imiinfo-banner3-row-bg15{ content: url("../images/bg15.png") ;}
    .imiinfo-banner3-row-fa{
    display: inline-block;
    font-size: 32px;
    margin-bottom: 10px;
    padding: 15px;
    color: #00a8e0;
    border: 1px solid #00a8e0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition:  all ease-in .4s;
    -webkit-transition: all ease-in .4s;
    -moz-transition: all ease-in .4s;
}
.imiinfo-banner3-row-fa:hover{
    color: #fff;
    box-shadow: inset 0px 0px 0px 50px #a7d1fd;
    -webkit-box-shadow: inset 0px 0px 0px 50px #a7d1fd;
    -moz-box-shadow: inset 0px 0px 0px 50px #a7d1fd;
    border: 2px solid transparent;
}
.imiinfo-banner3-row-fa-middel{
    height: 60px;
    width: 80px;
    background: url("../images/bg4.png") center no-repeat;
    display: inline-block;
    margin-bottom: 10px;
}
.imiinfo-banner3-row-bottom{
    padding:0;
}
.imiinfo-banner3-row-bottom h3 {
    display: inline-block;
   width:100px;
}
.imiinfo-banner3-row-img{
    height:115px;
}
.imiinfo-banner3-row-img ul{
    padding-left:0px;
    float: left;
}
.imiinfo-banner3-row-img ul li{
    list-style: none;
    text-align: left;
}
    .imiinfo-banner3-row-img ul li h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

    #go-to-top a {
        text-decoration:none;
        display: none;
        position: fixed;
        bottom: 5px;
        right: 5px;
        text-align: center;
        line-height: 60px;
        margin: 0 20px 20px;
        background:url(../images/ui.totop.png) no-repeat left top;
        width: 51px;
        height: 51px;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -o-transition: .3s;
        -ms-transition: .3s;
    }
    #go-to-top a:hover {
        background: #00a7dd;
        color: #fff;
        background:url(../images/ui.totop.png) no-repeat left -51px;
    }



