

.display-none {
    display: none;
}
/* Sets up the Base 10 stuff */
body {
    padding: 0;
    font-family: "Microsoft YaHei" ! important;
    margin: 0 auto;
    background-color: #f1f1f1;
    color: #222222;
}
p,
a,
nav,
ul,
li,
span,
button,
div,
body,
header,
section,
footer,
article,
strong {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
p {
    line-height: 22px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', Arial, sans-serif;
}
/* ==========================================================================
Browse Happy prompt
========================================================================== */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*
========================================================================
# 2 - Header styles
------------------------------------------------------------------------
*/

header {
    display: none;
    padding: 20px 0 0 0;
    background-color: #fff;
    -webkit-box-shadow:0 0 9px -5px #000;
    -moz-box-shadow:0 0 9px -5px #000;
    box-shadow:0 0 9px -5px #000;
}
header  {
    background-color: #fff;
    border-color: transparent;
}
header  .navbar-toggle {
    border-color: #00a7dd;
    border: 0;
    border-radius: 2px;
    margin: 0;
}
header  .navbar-toggle .icon-bar {
    width: 30px;
    height: 3px;
}
header  .navbar-toggle:hover,
header  .navbar-toggle:focus {
    background: transparent;
}
header  .navbar-toggle .icon-bar {
    background: #00a7dd;
}
header .navbar {
    border-radius: 0;
    margin-bottom: 0;
}
header ul > li  {
    margin-bottom: 0px;
}
header  .navbar-nav > .current > a { color:#666666 }
header  .navbar-nav > .current > a:hover,
header  .navbar-nav > .current > a:focus {
    background-color: #FFF;
    color: #008ee4;
}
@media screen and (min-width: 1200px)
header .nav > li > a {
    font-size: 19px;
}
/*
========================================================================
# - 2.1 - Menu styles
------------------------------------------------------------------------
*/
header h1 {
    margin: 0;

}
header .nav > li > a {
    font-family: 'Dosis', sans-serif;
    text-transform: capitalize;
    padding: 12px 43px;
    border-radius: 2px;
}

header  .navbar-nav > li > a {
    color: #666;
}

header  .navbar-nav > .active > a,
header  .navbar-nav > .active > a:hover,
header  .navbar-nav > .active > a:focus {
    background-color: #fff;
    color: #008ee4;
}
header  .navbar-nav > li > a:hover,
header  .navbar-nav > li > a:focus {
    background-color: #fff;
    color: #008ee4;
    border:none;
}
/*
========================================================================
# - 2.2 - down Menu styles
------------------------------------------------------------------------
*/
.navbar .dropdown-menu {

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.navbar-nav>li> .dropdown-menu{
    margin-top: 2px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.dropdown-menu{
    min-width: 152px;
    margin-top: 2px;
    border: 0px #fff solid;
}

.dropdown-menu>li>a {
    text-align: center;
    }
.dropdown-menu>li>a:hover{background: #fff;color:#008ee4;}
/*
========================================================================
# - 2.3 -  register-login Menu styles
------------------------------------------------------------------------
*/
.register-login-div{
    float:right;
}
.register-login li{
    list-style-type:none;
    float: left;
    padding:10px 10px;
}
.register-login li a{
    border:1px #008ee4 solid;;
    padding:5px 8px;
    color:#008ee4;
    border-radius: 5px;
    text-decoration: none;
    transition: all ease-in .4s;
    -webkit-transition: all ease-in .4s;
}
.register-login li a:hover{

    color: #FFF;
    background: #008ee4;

}
/*
========================================================================
# - 3.1 - 接入第一个页面 styles
------------------------------------------------------------------------
*/
    /*@import "variable.less";*/
    .lz-headertop {
        background: #262626 url(../images/top-bg.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .lz-heading {
        margin-top: 60px;
    }
    .lz-main-heading,
    .lz-main-heading > span {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 98px;
        text-align: center;
        color: #fff;
    }
    .lz-main-heading > span.lz-brand {
        color: #3498db;
    }
    .cblz-footer-content .lz-brand {
        color: #3498db !important;
    }
    .lz-sub-heading {
        margin-top: 10px;
        font-family: 'Raleway', sans-serif;
        font-weight: lighter;
        font-size: 30px;
        text-align: center;
        color: #fff;
    }
    #subscribe {
        height: 70px;
        font-family: 'Raleway', sans-serif;
        font-weight: lighter;
        font-size: 35px;
        color: #3498db;
        padding-left: 20px;
    }
    input#subscribe::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #3498db;
    }
    input#subscribe::-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #3498db;
        opacity: 1;
    }
    input#subscribe::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #3498db;
        opacity: 1;
    }
    input#subscribe::ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #3498db;
    }
    ::-webkit-input-placeholder {
        color: #3498db;
    }
    .lz-subscribe {
        margin-top: 138px;
        text-align: center;
    }
    .lz-submit-btn {
        background-color: #3498db;
        background-image: none;
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        border-radius: none;
        height: 70px;
        font-family: 'Lobster', cursive;
        font-weight: lighter;
        font-size: 35px;
        color: #fff;
    }
    .lz-submit-btn:hover {
        background-color: #3498db;
        background-image: none;
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        border-radius: none;
    }
    #carousel-reviews .carousel-control.left,
    .carousel-control.right {
        right: 18px;
    }
.fast-insert{

}
.fast-insert a{
    display: inline-block;
    color :#fff;
    margin-top:50px;
    padding: 0px 0 50px 0;
    background: url("../images/drop-down.png") no-repeat bottom  center ;
}
.fast-insert a:hover{
    background: url("../images/drop-down-086176.png") no-repeat bottom  center ;
}
